<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iamwee.placesfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".view.PlacesFinderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar.Drawer" />
        <activity android:name=".view.walk_through.WalkThroughActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.register.RegisterActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="26cd6b1d9e2b02c9a7541f95f4d61ec26321f8d6" />

        <activity android:name=".view.logout.LogoutActivity" />
    </application>

</manifest>