<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iamwee.placesfinder">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:name=".PlacesFinderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar.Drawer" />
        <activity
            android:name=".view.walk_through.WalkThroughActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="26cd6b1d9e2b02c9a7541f95f4d61ec26321f8d6" />

        <activity
            android:name=".view.logout.LogoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.profile.ProfileActivity" android:label="Profile" />
        <activity
            android:name=".view.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.changepassword.ChangePasswordActivity" android:label="@string/change_password" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAfLYSHQzDu4c5NWwpIDwQGcEEcOYtc9VM" />

        <activity android:name=".view.info.PlaceInfoActivity" />
        <activity android:name=".view.suggest.SuggestPlaceActivity" android:label="@string/menu_suggest_place" />
        <activity android:name=".view.suggest.chooselocation.ChooseLocationActivity" android:label="@string/choose_location" />
    </application>

</manifest>